body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  display: inline-block;
  line-height: 2;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.contact-me{
  width: 50%;
  margin: auto;
}

.footer-link {

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  margin-top: 100px;
  padding-top: 50px;
  background-color: #66BFBF;
}
.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.profileImage {
  width: 150px;

}
.profileDescription{
  width: 30%;
  margin: auto;
}
.codingImage{
  float: left;
  width: 25%;
  margin-right: 30px;
}

.diverImage {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.contactMessage{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
